@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

html, body{
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

nav{
    display: grid;
    position: absolute;
    grid-template-columns: 0.35fr 1fr;
    height: auto;
    top: 1%;
    width: 99.5%;
    z-index: 5;
}

nav .empresa-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .empresa-logo *{
    margin: 0;
}

nav .empresa-logo h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

nav .empresa-logo h1{
    font-size: 40px;
    font-family: 'Cinzel';
    font-weight: normal;
}


nav .navegacion{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    align-items: center;
    margin: 0;
    margin-right: 10px;
    justify-content: end;
    font-family: 'Cinzel', sans-serif;
    z-index: 2;
}

nav .navegacion a{
    position: relative;
    text-decoration: none;
    color: black;
}

nav .navegacion a::after{
    content: ""; /* Crea el pseudo-elemento */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px; /* Ubica la lÃ­nea debajo */
    width: 0; /* Inicialmente oculta */
    height: 1px;
    background-color: rgb(0,0,0);
    border-radius: 50px;
    transition: width 0.3s ease-in-out;
}

nav .navegacion a:hover::after{
    width: 100%;
}

.section-principal{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-image: url(imagenes/imagenes-extra/imagen-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

.section-principal::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.6);
}

.section-principal .titulos-container{
    position: relative;
    width: 50%;
    height: 400px;
    z-index: 5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    align-self: center;
}

.section-principal .titulos-container .titulos-principal h2{
    font-size: 70px;
    font-family: 'Cinzel', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

.section-principal .titulos-container .titulos-principal h4{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.section-principal .titulos-container .titulos-principal{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-principal .titulos-container .boton-reunion{
    width: 300px;
    height: 50px;
    justify-self: center;
    align-self: self-end;
    border-radius: 20px;
    outline: none;
    border: 2px solid black;
    background-color: transparent;
    font-size: 18px;
    transition: background-color 0.2s ease-in;
}

.section-principal .titulos-container .boton-reunion:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*-----------------SECTION QUIENES SOMOS--------------*/
.section-quienes-somos{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-quienes-somos h2{
    position: relative;
    justify-self: self-end;
    font-size: 60px;
    font-family: 'Cinzel', sans-serif;
    font-weight: lighter;
    margin: 0;
}

.section-quienes-somos .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.section-quienes-somos .quienes-somos{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.section-quienes-somos .informacion-quienes-somos {
    font-size: 20px;
    margin: 20px;
    padding: 50px;
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.6;
}
.section-quienes-somos img{
    justify-self: center;
}

/*-----------------SECTION EQUIPO--------------*/

.section-equipo{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-equipo .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.section-equipo .barra-superior{
    width: 100%;
    height: 3vh;
    background-color: gray;
}

.section-equipo .equipo{
    position: relative;
    width: 100%;
    min-height: 81vh; 
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    background-color: rgb(219, 219, 219);
}

.section-equipo .titulos-equipo{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-equipo .titulos-equipo *{
    margin: 0;
}

.section-equipo .titulos-equipo #equipo-h2{
    font-size: 50px;
    margin: 10px;
}

.section-equipo .titulos-equipo h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

.section-equipo .titulos-equipo h2{
    font-size: 35px;
    font-family: 'Cinzel';
    font-weight: normal;
}



.section-equipo .imagen-equipo{
    position: relative;
    background-image: url(imagenes/imagenes-extra/imagen-equipo.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: end;
    height: 90%;
    top: -4%;
    width: 99%;
}

.section-equipo .imagen-equipo::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.527);
}

/*------------SECTION CLIENTES------------------*/
.section-clientes{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-clientes .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.section-clientes .barra-superior{
    width: 100%;
    height: 3vh;
    background-color: rgb(128, 128, 128);
}

.section-clientes .clientes{
    width: 100%;
    height: 800px; 
    background-color: rgb(128, 128, 128, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-clientes .clientes h2{
    font-size: 40px;
    background-color: rgb(177, 169, 159);
    padding: 10px;
    font-family: 'Cinzel';
    font-weight: normal;
}

.section-clientes .clientes .imagenes{
    position: relative;
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-start;
    flex-wrap: wrap;
    gap: 80px;
}

.section-clientes .clientes .imagenes img{
    width: 25%;
    height: 15%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.section-clientes .clientes .imagenes .imagen-modificada{
    object-fit: contain;
}

/*---------SECTION PROYECTOS COMERCIALES-------------*/
.section-proyectos-comerciales{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-proyectos-comerciales .titulos{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

.section-proyectos-comerciales .titulos h2{
    width: 90%;
    text-align: center;
    font-size: 40px;
    background-color: rgb(224, 221, 217);
    padding: 10px;
    font-family: 'Cinzel';
    font-weight: normal;
    margin-left: 20px;
    align-self: end;
}

.section-proyectos-comerciales .titulos .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.proyectos-comerciales{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section-proyectos-comerciales .proyectos-comerciales .imagenes{
    position: relative;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section-proyectos-comerciales .proyectos-comerciales .imagenes img{
    position: relative;
    width: 400px;
    height: 350px;
    object-fit: cover;
    mix-blend-mode: multiply;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.section-proyectos-comerciales .proyectos-comerciales .imagenes img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.section-proyectos-comerciales .barra-inferior{
    width: 100%;
    height: 10vh;
    background-color: rgb(177, 169, 159);
    margin: 0;
}

/*---------SECTION PROYECTOS RESIDENCIALES-------------*/
.section-proyectos-residenciales{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-proyectos-residenciales .titulos{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
}

.section-proyectos-residenciales .titulos h2{
    width: 90%;
    text-align: center;
    font-size: 40px;
    background-color: rgb(224, 221, 217);
    padding: 10px;
    font-family: 'Cinzel';
    font-weight: normal;
    margin-left: 20px;
    align-self: end;
}

.section-proyectos-residenciales .titulos .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.proyectos-residenciales{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.section-proyectos-residenciales .proyectos-residenciales .imagenes{
    position: relative;
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section-proyectos-residenciales .proyectos-residenciales .imagenes img{
    position: relative;
    width: 400px;
    height: 350px;
    object-fit: cover;
    mix-blend-mode: multiply;
    overflow: hidden;
    transition: transform 0.4s ease;
}

.section-proyectos-residenciales .proyectos-residenciales .imagenes img:hover{
    transform: scale(1.05);
    cursor: pointer;
    
}

.section-proyectos-residenciales .barra-inferior{
    width: 100%;
    height: 10vh;
    background-color: rgb(177, 169, 159);
    margin-top: 30px;
}

/*---------SECTION NUESTROS SERVICIOS-------------*/
.section-nuestros-servicios{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(128, 128, 128, 0.2);
}

.section-nuestros-servicios .barra-superior{
    width: 100%;
    height: 3vh;
    background-color: black;
}

.section-nuestros-servicios .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.section-nuestros-servicios .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.section-nuestros-servicios .nuestros-servicios{
    position: relative;
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-nuestros-servicios .nuestros-servicios h2{
    position: relative;
    font-size: 40px;
    background-color: rgb(177, 169, 159);
    padding: 10px;
    font-family: 'Cinzel';
    font-weight: normal;
}

.nuestros-servicios-info {
    position: relative;
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: center;
}

.nuestros-servicios-info .servicio{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nuestros-servicios-info .servicio-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;
    background-color: rgb(207, 198, 187);
}

.nuestros-servicios-info .servicio-info h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.nuestros-servicios-info .servicio-info h2 strong{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.nuestros-servicios-info .servicio p{
    text-align: justify;
    line-height: 2.8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.section-nuestros-servicios span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/*---------SECTION NUESTROS SERVICIOS COMPLEMENTARIOS-------------*/

.section-nuestros-servicios .nuestros-servicios-complementarios{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-nuestros-servicios .nuestros-servicios-complementarios h2{
    position: relative;
    font-size: 40px;
    background-color: rgb(177, 169, 159);
    padding: 10px;
    font-family: 'Cinzel';
    font-weight: normal;
}

.nuestros-servicios-info {
    position: relative;
    width: 95%;
    height: 75%;
    display: flex;
    justify-content: space-around;
}

.nuestros-servicios-info .servicio{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.nuestros-servicios-info .servicio-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: rgb(177, 169, 159);
}

.nuestros-servicios-info .servicio-info h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
}

.nuestros-servicios-info .servicio-info h2 strong{
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.nuestros-servicios-info .servicio p{
    width: 100%;
    text-align: justify;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.section-nuestros-servicios .nuestros-servicios-complementarios span{
    font-family: "Cinzel";
    font-weight: normal;
}

/*---------SECTION CONTACTO-------------*/
.section-contacto{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.section-contacto .contacto{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 0.6fr;
}

.section-contacto .contacto .contacto-info{
    position: relative;
    background: linear-gradient(90deg, rgb(43, 43, 43), rgb(87, 87, 87));
    width: 100%;
    height: 100vh;
}

.section-contacto .contacto .contacto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contacto .contacto .contacto-info h2{
    font-size: 90px;
    font-family: 'Cinzel';
    font-weight: normal;
    color: white;
    margin: 10px;
}

.section-contacto .contacto img{
    width: 100%;
    height: 100vh;
}

.section-contacto .contacto .contacto-info ul li{
    list-style: none;
    color: white;
    font-size: 25px;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}

.section-contacto .contacto .contacto-info .boton-solicitar-servicios{
    position: relative;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: 1px solid black;
    font-size: 22px;
    background-color: white;
    transition: background-color, color 0.3s ease-in;
    font-weight: normal;
    margin-left: 20px;
    z-index: 0;
}

.section-contacto .contacto .contacto-info .boton-solicitar-servicios:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/*-------------------SECCION ENVIAR EMAIL---------------------*/
.section-enviar-correo{
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-enviar-correo .imagen-logo-empresa{
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.section-enviar-correo h2{
    font-size: 90px;
    font-family: 'Cinzel';
    font-weight: normal;
    margin: 0;
}

.section-enviar-correo .enviar-correo{
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.section-enviar-correo .enviar-correo .nombre-completo{
    display: flex;
    gap: 10px;
    width: 100%;
}

.section-enviar-correo .enviar-correo .campo{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.section-enviar-correo .enviar-correo .campo input{
    height: 30px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid gray;
}

.section-enviar-correo .enviar-correo .campo textarea{
    font-size: 20px;
    padding: 5px;
    border: 2px solid gray;
    font-family: 'Montserrat', sans-serif;
    resize: none;
    color: gray
}

.section-enviar-correo .enviar-correo .campo label{
    font-family: 'Montserrat', sans-serif;
}

.section-enviar-correo .enviar-correo .campo label strong{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

.section-enviar-correo .enviar-correo button{
    position: relative;
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid black;
    font-size: 22px;
    background-color: white;
    transition: transform,box-shadow 0.5s ease;
    margin-bottom: 10px;
}

.section-enviar-correo .enviar-correo button:hover{
    transform: translate(5%, -5%);
    box-shadow: -15px 15px 15px rgb(0,0,0,0.5);
    cursor: pointer;
}

/*COMPUTADORAS PEQUEÑAS*/

@media (min-width:1280px) and (max-width: 1700px) {

    nav .empresa-logo h2{
        font-size: 25px;
    }

    nav .empresa-logo h1{
        font-size: 30px;
    }

    nav{
        grid-template-columns: 0.6fr 1fr;
    }
    
    .section-principal .titulos-container{
        height: 300px;
    }

    .section-principal .titulos-container .titulos-principal h2{
        font-size: 50px;
    }

    .section-principal .titulos-container .titulos-principal h4{
        font-size: 17px;
    }

    /*-------------SECTION QUIENES SOMOS----------*/

    .section-quienes-somos .quienes-somos{
        margin-bottom: 10px;
    }
    
    .section-quienes-somos .informacion-quienes-somos {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.3;
    }
    .section-quienes-somos img{
        justify-self: center;
    }

    /*-----------------SECTION EQUIPO--------------*/
    .section-equipo .titulos-equipo h3{
        font-size: 22px;
    }

    .section-equipo .titulos-equipo h2{
        font-size: 28px;
    }

    .section-equipo .imagen-equipo::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.527);
    }

    /*------------SECTION CLIENTES------------------*/

    .section-clientes .imagen-logo-empresa{
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    .section-clientes .barra-superior{
        width: 100%;
        height: 3vh;
        background-color: rgb(128, 128, 128);
    }

    .section-clientes .clientes{
        height: 80vh;
    }

    .section-clientes .clientes .imagenes{
        height: 70%;
    }

    /*---------SECTION PROYECTOS COMERCIALES-------------*/

    .section-proyectos-residenciales .titulos h2{
        font-size: 38px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes img{
        width: 250px;
        height: 250px;
    }

    .section-proyectos-comerciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION PROYECTOS RESIDENCIALES-------------*/

    .section-proyectos-residenciales .proyectos-residenciales .imagenes img{
        width: 250px;
        height: 250px;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes{
        height: auto;
    }

    .section-proyectos-residenciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION NUESTROS SERVICIOS-------------*/

    .section-nuestros-servicios .nuestros-servicios  .servicio{
        height: auto;
    }

    .section-nuestros-servicios .nuestros-servicios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }


    /*------SECCION SERVICIOS COMPLEMENTARIOS*/
    .section-nuestros-servicios .nuestros-servicios-complementarios  .servicio{
        height: auto;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }

    /*-------------------SECCION ENVIAR EMAIL---------------------*/

    .section-enviar-correo .enviar-correo{
        width: 40%;
        gap: 20px;
    }

}

/*-----------TABLETS-------------*/
@media (min-width: 1008px) and (max-width: 1279px) {
    nav .empresa-logo h2{
        font-size: 20px;
    }

    nav .empresa-logo h1{
        font-size: 25px;
    }

    nav{
        grid-template-columns: 0.6fr 1fr;
    }

    nav .empresa-logo{
        justify-self: self-start;
        margin-left: 20px;
    }

    nav .navegacion li a{
        font-size: 18px;
    }

    .section-principal .titulos-container{
        height: 300px;
    }

    .section-principal .titulos-container .titulos-principal h2{
        font-size: 30px;
    }

    .section-principal .titulos-container .titulos-principal h4{
        font-size: 13px;
    }

    /*-------------SECTION QUIENES SOMOS----------*/

    .section-quienes-somos .quienes-somos{
        margin-bottom: 10px;
        align-items: center;
    }
    
    .section-quienes-somos .informacion-quienes-somos {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.25;
    }

    .section-quienes-somos img{
        justify-self: center;
        width:100%;
    }

    /*-----------------SECTION EQUIPO--------------*/

    .section-equipo .equipo {
        grid-template-columns: 0.4fr 1fr;
    }

    .section-equipo .titulos-equipo h3{
        font-size: 20px;
    }    .section-equipo .titulos-equipo{
        width: 100%;
    }

    .section-equipo .titulos-equipo h2{
        font-size: 21px;
    }

    .section-equipo .imagen-equipo{
        justify-self: end;
        margin-right: 30px;
        width: 90%;
    }

    /*------------SECTION CLIENTES------------------*/

    .section-clientes .imagen-logo-empresa{
        position: relative;
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }

    .section-clientes .barra-superior{
        width: 100%;
        height: 3vh;
        background-color: rgb(128, 128, 128);
    }

    .section-clientes .clientes{
        height: 80vh;
    }

    .section-clientes .clientes .imagenes{
        height: 70%;
        width: 80%;
    }

    .section-clientes .barra-inferior{
        height: 5vh;
        width: 100%;
        background-color: rgb(177, 169, 159);
        margin: 0;
    }

    /*---------SECTION PROYECTOS COMERCIALES-------------*/

    .section-proyectos-comerciales .titulos {
        grid-template-columns: 0.8fr 1fr;
    }

    .section-proyectos-comerciales .titulos{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .titulos h2 {
        font-size: 30px;
        margin-left: 10px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes img{
        width: 20%;
        height: 45%;
    }

    .section-proyectos-comerciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION PROYECTOS RESIDENCIALES-------------*/

    .section-proyectos-comerciales .titulos {
        grid-template-columns: 0.8fr 1fr;
    }

    .section-proyectos-residenciales .titulos h2 {
        font-size: 30px;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes img{
        width: 20%;
        height: 80%;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes{
        height: auto;
        margin-bottom: 180px;
    }

    .section-proyectos-residenciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION NUESTROS SERVICIOS-------------*/

    .section-proyectos-residenciales .titulos{
        margin-bottom: 15px;
    }

    .section-nuestros-servicios .nuestros-servicios  .servicio{
        height: auto;
    }

    .section-nuestros-servicios .nuestros-servicios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }


    /*------SECCION SERVICIOS COMPLEMENTARIOS*/
    .section-nuestros-servicios .nuestros-servicios-complementarios  .servicio{
        height: auto;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }

    /*-------------------SECCION ENVIAR EMAIL---------------------*/

    .section-enviar-correo .enviar-correo{
        width: 60%;
        gap: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1007px){
    nav .empresa-logo h2{
        font-size: 15px;
    }

    nav .empresa-logo h1{
        font-size: 20px;
    }

    nav{
        grid-template-columns: 1fr 1.4fr;
    }

    nav .empresa-logo{
        justify-self: self-start;
        margin-left: 10px;
        width: 100%;
    }

    nav .navegacion{
        gap: 15px;
        margin: 0;
        margin-right: 0px;
        justify-content: start;
    }

    nav .navegacion li a{
        position: relative;
        font-size: 15px;
    }

    .section-principal .titulos-container{
        height: 300px;
    }

    .section-principal .titulos-container .titulos-principal h2{
        font-size: 25px;
    }

    .section-principal .titulos-container .titulos-principal h4{
        font-size: 10px;
    }

    /*-------------SECTION QUIENES SOMOS----------*/

    .section-quienes-somos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-quienes-somos .quienes-somos{
        margin-bottom: 10px;
        align-items: center;
    }
    
    .section-quienes-somos .informacion-quienes-somos {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.25;
    }

    .section-quienes-somos img{
        justify-self: center;
        width: 100%;
    }

    /*-----------------SECTION EQUIPO--------------*/

    .section-equipo .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-equipo .equipo {
        grid-template-columns: none;
        grid-template-rows: 0.4fr 1fr;
    }

    .section-equipo .titulos-equipo h3{
        font-size: 20px;
    }    .section-equipo .titulos-equipo{
        width: 100%;
    }

    .section-equipo .titulos-equipo h2{
        font-size: 21px;
    }

    .section-equipo .imagen-equipo{
        justify-self: end;
        margin-right: 30px;
        width: 90%;
    }

    /*------------SECTION CLIENTES------------------*/

    .section-clientes .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-clientes .barra-superior{
        width: 100%;
        height: 3vh;
        background-color: rgb(128, 128, 128);
    }

    .section-clientes .clientes{
        height: 80vh;
    }

    .section-clientes .clientes .imagenes{
        height: 70%;
        width: 80%;
    }

    .section-clientes .barra-inferior{
        height: 5vh;
        width: 100%;
        background-color: rgb(177, 169, 159);
        margin: 0;
    }

    /*---------SECTION PROYECTOS COMERCIALES-------------*/

    .section-proyectos-comerciales .titulos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-proyectos-comerciales .titulos {
        grid-template-columns: 0.8fr 1fr;
    }

    .section-proyectos-comerciales .titulos{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .titulos h2 {
        font-size: 20px;
        margin-left: 10px;
        width: 80%;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes img{
        width: 20%;
        height: 40%;
    }

    .section-proyectos-comerciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION PROYECTOS RESIDENCIALES-------------*/
    .section-proyectos-residenciales{
        height: 80vh;
    }

    .section-proyectos-residenciales .titulos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
    }

    .section-proyectos-residenciales .titulos {
        grid-template-columns: 0.8fr 1fr;
        margin-bottom: 5px;
    }

    .section-proyectos-residenciales .titulos h2 {
        font-size: 20px;
        width: 80%;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes img{
        width: 20%;
        height: 80%;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes{
        height: auto;
        margin-bottom: 140px;
    }

    .section-proyectos-residenciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION NUESTROS SERVICIOS-------------*/

    .section-nuestros-servicios .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-nuestros-servicios .nuestros-servicios  .servicio{
        height: auto;
        width: 320px;
    }

    .section-nuestros-servicios .nuestros-servicios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }


    /*------SECCION SERVICIOS COMPLEMENTARIOS*/

    .section-nuestros-servicios .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios  .servicio{
        height: auto;
        width: 320px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios-info .servicio p{
        line-height: 1.7;
        font-size: 13px;
    }

    /*------------------SECCION CONTACTO-------------------*/
    .section-contacto .contacto{
        grid-template-columns: 0.2fr 1.7fr;
    }

    .section-contacto .contacto .contacto-info h2{
        font-size: 55px;
    }

    .section-contacto .contacto .contacto-info ul li{
        font-size: 15px;
    }

    .section-contacto .contacto .contacto-info ul .boton-solicitar-servicios{
        font-size: 15px;
        width: 200px;
        height: 40px;
    }

    /*-------------------SECCION ENVIAR EMAIL---------------------*/

    .section-enviar-correo .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-enviar-correo h2{
        font-size: 50px;
    }

    .section-enviar-correo .enviar-correo{
        width: 80%;
        gap: 10px;
    }
}

@media (min-width: 0px) and (max-width: 767px){

    .section-principal {
        height: 180vh;
        width: 90vh;
        background-position: center;
    }

    nav .empresa-logo h2{
        font-size: 10px;
    }

    nav .empresa-logo h1{
        font-size: 15px;
    }

    nav{
        grid-template-columns: 1fr 1.4fr;
    }

    nav .empresa-logo{
        justify-self: self-start;
        margin-left: 0px;
        width: 100%;
    }

    nav .navegacion{
        gap: 15px;
        margin: 0;
        margin-right: 0px;
        justify-content: start;
    }

    nav .navegacion li a{
        position: relative;
        font-size: 10px;
    }

    .section-principal .titulos-container{
        height: 300px;
    }

    .section-principal .titulos-container .titulos-principal h2{
        font-size: 25px;
    }

    .section-principal .titulos-container .titulos-principal h4{
        font-size: 10px;
    }

    /*-------------SECTION QUIENES SOMOS----------*/

    .section-quienes-somos {
        height: 150vh;
        width: 90vh;
        background-position: center;
    }

    .section-quienes-somos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-quienes-somos .quienes-somos{
        margin-bottom: 10px;
        align-items: center;
        grid-template-columns: none;
        grid-template-rows: 0.2fr 0.5fr;
    }
    
    .section-quienes-somos .informacion-quienes-somos {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 1.25;
    }

    .section-quienes-somos img{
        justify-self: center;
        width: 30%;
    }

    /*-----------------SECTION EQUIPO--------------*/

    .section-equipo{
        height: 100vh;
        width: 90vh;
        background-position: center;
    }

    .section-equipo .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-equipo .equipo {
        grid-template-columns: none;
        grid-template-rows: 0.4fr 1fr;
    }

    .section-equipo .titulos-equipo h3{
        font-size: 20px;
    }    .section-equipo .titulos-equipo{
        width: 100%;
    }

    .section-equipo .titulos-equipo h2{
        font-size: 21px;
    }

    .section-equipo .imagen-equipo{
        justify-self: end;
        margin-right: 30px;
        width: 90%;
    }

    /*------------SECTION CLIENTES------------------*/

    .section-clientes {
        height: 100vh;
        width: 90vh;
        background-position: center;
    }

    .section-clientes .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-clientes .barra-superior{
        width: 100%;
        height: 5vh;
        background-color: rgb(128, 128, 128);
    }

    .section-clientes .clientes{
        height: 80vh;
    }

    .section-clientes .clientes .imagenes{
        height: 100%;
        width: 80%;
        align-self: center;
    }

    .section-clientes .clientes .imagenes img{
        width: 15%;
    }

    .section-clientes .barra-inferior{
        height: 5vh;
        width: 100%;
        background-color: rgb(177, 169, 159);
        margin: 0;
    }

    /*---------SECTION PROYECTOS COMERCIALES-------------*/

    .section-proyectos-comerciales {
        height: 105vh;
        width: 90vh;
        background-position: center;
    }

    .section-proyectos-comerciales .titulos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-proyectos-comerciales .titulos {
        grid-template-columns: 0.8fr 1fr;
    }

    .section-proyectos-comerciales .titulos{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .titulos h2 {
        font-size: 20px;
        margin-left: 10px;
        width: 80%;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes{
        margin-bottom: 15px;
    }

    .section-proyectos-comerciales .proyectos-comerciales .imagenes img{
        width: 20%;
        height: 40%;
    }

    .section-proyectos-comerciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION PROYECTOS RESIDENCIALES-------------*/

    .section-proyectos-residenciales {
        height: 80vh;
        width: 90vh;
        background-position: center;
    }

    .section-proyectos-residenciales .titulos .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
    }

    .section-proyectos-residenciales .titulos {
        grid-template-columns: 0.8fr 1fr;
        margin-bottom: 5px;
    }

    .section-proyectos-residenciales .titulos h2 {
        font-size: 20px;
        width: 80%;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes img{
        width: 20%;
        height: 80%;
    }

    .section-proyectos-residenciales .proyectos-residenciales .imagenes{
        height: auto;
        margin-bottom: 140px;
    }

    .section-proyectos-residenciales .barra-inferior{
        height: 5vh;
    }

    /*---------SECTION NUESTROS SERVICIOS-------------*/

    .section-nuestros-servicios {
        height: 125vh;
        width: 90vh;
        background-position: center;
    }

    .section-nuestros-servicios .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-nuestros-servicios .nuestros-servicios h2{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios  .servicio{
        height: auto;
        width: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios .servicio .servicio-info{
        height: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios-info .servicio p{
        line-height: 1.5;
        font-size: 15px;
    }


    /*------SECCION SERVICIOS COMPLEMENTARIOS*/
    .section-nuestros-servicios .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios  .servicio{
        height: auto;
        width: 250px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios h2{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios .servicio .servicio-info{
        height: 230px;
    }

    .section-nuestros-servicios .nuestros-servicios-complementarios{
        height: 100vh;
    }

    .nuestros-servicios-info .servicio-info h2{
        font-size: 30px;
    }

    .nuestros-servicios-info .servicio-info h2 strong{
        font-size: 30px;
    }

    .section-nuestros-servicios .nuestros-servicios-info .servicio p{
        line-height: 1.9;
        font-size: 10px;
    }

    /*------------------SECCION CONTACTO-------------------*/

    .section-contacto {
        height: 100vh;
        width: 90vh;
        background-position: center;
    }

    .section-contacto .contacto{
        grid-template-columns: 0.2fr 1.7fr;
    }

    .section-contacto .contacto .contacto-info h2{
        font-size: 55px;
    }

    .section-contacto .contacto .contacto-info ul li{
        font-size: 15px;
    }

    .section-contacto .contacto .contacto-info ul .boton-solicitar-servicios{
        font-size: 15px;
        width: 200px;
        height: 40px;
    }

    /*-------------------SECCION ENVIAR EMAIL---------------------*/

    .section-enviar-correo {
        height: 125vh;
        width: 90vh;
        background-position: center;
    }

    .section-enviar-correo .imagen-logo-empresa{
        position: relative;
        width: 70px;
        height: 70px;
        margin-top: 5px;
    }

    .section-enviar-correo h2{
        font-size: 50px;
    }

    .section-enviar-correo .enviar-correo{
        width: 60%;
        gap: 10px;
    }
}
